@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #000000;
    --accent: #7f0000;
    --subtle: #4d4d4d;
    --secondary-accent: #cd8b76;
    --box-background: #f8f8f8;
    --nav-text: #4a4a4a;
    --nav-text-hover: #7f0000;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
