@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    :root {
        --background: oklch(1 0 0);
        --foreground: oklch(0.1450 0 0);
        --card: oklch(97% 0.001 106.424);
        --card-foreground: oklch(43.9% 0 0);
        --popover: oklch(1 0 0);
        --popover-foreground: oklch(0.1450 0 0);
        --primary: oklch(0.3999 0.1641 29.2339);
        --primary-foreground: oklch(0.9850 0 0);
        --secondary: oklch(0.9354 0.0310 20.1731);
        --secondary-foreground: oklch(0.3999 0.1641 29.2339);
        --muted: oklch(0.9700 0 0);
        --muted-foreground:oklch(43.9% 0 0);
        --accent: oklch(0.9220 0 0);
        --accent-foreground: oklch(0.2050 0 0);
        --destructive: oklch(0.5770 0.2450 27.3250);
        --destructive-foreground: oklch(1 0 0);
        --border: oklch(0.9220 0 0);
        --input: oklch(0.9220 0 0);
        --ring: oklch(0.7080 0 0);
        --chart-1: oklch(0.8100 0.1000 252);
        --chart-2: oklch(0.6200 0.1900 260);
        --chart-3: oklch(0.5500 0.2200 263);
        --chart-4: oklch(0.4900 0.2200 264);
        --chart-5: oklch(0.4200 0.1800 266);
        --sidebar: oklch(0.2094 0.0199 248.8017);
        --sidebar-foreground: oklch(0.9850 0 0);
        --sidebar-primary: oklch(0.2050 0 0);
        --sidebar-primary-foreground: oklch(0.9850 0 0);
        --sidebar-accent: oklch(0.9354 0.0310 20.1700);
        --sidebar-accent-foreground: oklch(0.2050 0 0);
        --sidebar-border: oklch(0.9220 0 0);
        --sidebar-ring: oklch(0.7080 0 0);
        --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
        --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --radius: 0.625rem;
        --shadow-x: 0;
        --shadow-y: 1px;
        --shadow-blur: 3px;
        --shadow-spread: 0px;
        --shadow-opacity: 0.1;
        --shadow-color: oklch(0 0 0);
        --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
        --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
        --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
        --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
        --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
        --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
        --tracking-normal: 0em;
        --spacing: 0.25rem;
    }
    .dark {
        --background: oklch(0.1450 0 0);
        --foreground: oklch(0.9850 0 0);
        --card: oklch(0.2050 0 0);
        --card-foreground: oklch(0.9850 0 0);
        --popover: oklch(0.2690 0 0);
        --popover-foreground: oklch(0.9850 0 0);
        --primary: oklch(0.9220 0 0);
        --primary-foreground: oklch(0.2050 0 0);
        --secondary: oklch(0.2690 0 0);
        --secondary-foreground: oklch(0.9850 0 0);
        --muted: oklch(0.2690 0 0);
        --muted-foreground: oklch(0.7080 0 0);
        --accent: oklch(0.3710 0 0);
        --accent-foreground: oklch(0.9850 0 0);
        --destructive: oklch(0.7040 0.1910 22.2160);
        --destructive-foreground: oklch(0.9850 0 0);
        --border: oklch(0.2750 0 0);
        --input: oklch(0.3250 0 0);
        --ring: oklch(0.5560 0 0);
        --chart-1: oklch(0.8100 0.1000 252);
        --chart-2: oklch(0.6200 0.1900 260);
        --chart-3: oklch(0.5500 0.2200 263);
        --chart-4: oklch(0.4900 0.2200 264);
        --chart-5: oklch(0.4200 0.1800 266);
        --sidebar: oklch(0.2050 0 0);
        --sidebar-foreground: oklch(0.9850 0 0);
        --sidebar-primary: oklch(0.4880 0.2430 264.3760);
        --sidebar-primary-foreground: oklch(0.9850 0 0);
        --sidebar-accent: oklch(0.2690 0 0);
        --sidebar-accent-foreground: oklch(0.9850 0 0);
        --sidebar-border: oklch(0.2750 0 0);
        --sidebar-ring: oklch(0.4390 0 0);
        --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
        --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --radius: 0.625rem;
        --shadow-x: 0;
        --shadow-y: 1px;
        --shadow-blur: 3px;
        --shadow-spread: 0px;
        --shadow-opacity: 0.1;
        --shadow-color: oklch(0 0 0);
        --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
        --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
        --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
        --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
        --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
        --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
        --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    }
}

@layer base {
    * {
        border-color: var(--border);
    }
    body {
        background-color: var(--background);
        color: var(--foreground);
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
